/***********************************************
** Ping Pong                                  **
** Language: CSS                              **
** Author: Jacob Waters                       **
** Github: github.com/jpwaters09              **
** Contact me: jpwaters.github@gmail.com      **
** Follow my WhatsApp Channel: bit.ly/3sr99ZO **
***********************************************/

html {
    background-color: dimgray;
}

#pong {
    border: 2px solid #fff;
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}
