/***********************************************
** Camera                                     **
** Language: CSS                              **
** Author: Jacob Waters                       **
** Github: github.com/jpwaters09              **
** Contact me: jpwaters.github@gmail.com      **
***********************************************/

html {
  height: 100%;
  width: 100%;
  background-color: #696969;
}

#container {
  margin: 0px auto;
  width: 500px;
  height: 375px;
  border: 10px #333 solid;
}
#videoElement {
  width: 500px;
  height: 375px;
  background-color: #666;
